{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Добавить работу в категорию: {{ category.name }}</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="job_id" class="form-label">Выберите работу</label>
            <select class="form-select" id="job_id" name="job_id">
                {% for job in available_jobs %}
                <option value="{{ job.id }}">{{ job.job }} (Руководитель: {{ job.team_leader_user.name }})</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
        <a href="/" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}