<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <table width=100%>
            <TR >
                <TD><a class="navbar-brand" href="#"><font size="7"> Миссия колонизация Марса</font> </a></TD>
                <TD valign="bottom"><P align="right"><font size="5">Mars One </font></P></TD>
            </TR>
        </table>
    </nav>
</header>
<p><font size="6" color="grey">  &nbsp И на Марсе будут яблони цвести!</font></p>
<!-- Begin page content -->
<main role="main" class="container" >
    {% block content %}{% endblock %}
</main>
</body>
</html>