<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список профессий</title>
</head>
<body>
    <h1>Миссия колонизация Марса</h1>
    <h2>И на Марсе будут яблони цвести</h2>
    <h3> Список провессий </h3>
    {% if list_type == "ol" %}

        <ol>
            {% for prof in professions %}
            <li>{{ prof }}</li>
            {% endfor %}
        </ol>
    {% elif list_type == "ul" %}

        <ul>
            {% for prof in professions %}
            <li>{{ prof }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="color: red;">НЕВЕРНЫЙ ПАРАМЕТР. Используйте 'ol' или 'ul'</p>
    {% endif %}
</body>
</html>