{% extends "base.html" %}

{% block content %}
<h1>Список работ</h1>
{% for job in jobs %}
<div class="col-md6 border rounded">
    <h2>Работа #{{ job.id }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Название работы</th>
                <th>Ответственный</th>
                <th>Продолжительность (часы)</th>
                <th>Команда</th>
                <th>Завершена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ job.job }}</td>
                <td>{{ job.team_leader_user.surname }} {{ job.team_leader_user.name }}</td>
                <td>{{ job.work_size }}</td>
                <td>{{ job.colloborators }}</td>
                <td>{% if job.if_finished %}Да{% else %}Нет{% endif %}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}